.centrado-pantalla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centro vertical */
    height: 100%;
    
  }

  .boton-global {
    --background: #e74c3c;  /* rojo personalizado */
    --color: white;         /* texto blanco */
    border-radius: 16px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    width: 250px; /* Puedes ajustar este valor */
    margin: 10px auto;
  }

  .boton-formulario {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    width: 250px; /* Puedes ajustar este valor */
  margin: 10px auto;
  }

  .boton-back {
    width: 50%;
    max-width: 100px;
    margin: 20px auto;
    display: block;
    display: block;
    margin-left: 0;
  }
  
  