.titulo-formulario {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  display: block;
  width: 50%; /* La línea será la mitad del ancho del contenedor */
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  text-align: center; /* Centra el texto y la línea */
  margin: 0 auto; /* Centra el elemento */
  margin-top: 25px;
}

.botones-accion {
  width: 32px; /* ancho fijo */
  height: 32px; /* igual al ancho para que sea cuadrado */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* sin relleno interno */
  border: none;
  background: transparent; /* opcional si usas 'fill="clear"' */
  font-size: 20px; /* tamaño del ícono si aplica */
  color: #000000; /* Color del icono*/
}
.boton-regresar {
  display: flex;
  justify-content: center;
}

.botones-accion {
  position: absolute;
  right: 10px; /* Lo coloca en el extremo derecho */
  top: 50%;
  transform: translateY(-50%); /* Lo centra verticalmente */
}
