.barra-inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  transform: translateY(100%); /* Inicialmente fuera de la vista */
  transition: transform 0.3s ease-in-out; /* Animación suave */
  z-index: 999;
}

.barra-inferior.activa {
  transform: translateY(0); /* Mueve la barra a la posición visible */
}

.boton-toggle {
  --background: transparent;
  --color: rgb(0, 0, 0); /* Color del ícono */
  --box-shadow: none;
  --border-radius: 0;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  width: auto;
  height: auto;
  font-size: 50px; /* Tamaño del ícono */
  min-width: unset;
  min-height: unset;
  margin-left: 20px;
}

.linea {
  height: 2px;
  background-color: #000;
  margin-top: 10px; /* Espacio entre el botón y la línea */
}

.boton-barra {
  --background: transparent;
  --color: #000000;
  --border-radius: 0;
  --box-shadow: none;
  outline: none;
  box-shadow: none;
  font-size: 15px;
  width: auto;
  height: auto;
  --padding-start: 10px;
  --padding-end: 20px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  margin: 10px auto; /* Más espacio entre los botones */

  display: block;
}
